[Unit]
Description=Tomcat
After=syslog.target network.target

[Service]
Type=forking
User=tomcat
Group=tomcat
EnvironmentFile=/etc/sysconfig/tomcat
ExecStart={{ TOMCAT_HOME }}/bin/catalina.sh start
ExecStop={{ TOMCAT_HOME }}/bin/catalina.sh stop 60 -force

[Install]
WantedBy=multi-user.target
