JAVA_OPTS='-Djavax.net.ssl.trustStore={{ SSL_TRUST_STORE_PATH }} -Djava.security.egd=file:/dev/./urandom -Duser.timezone="UTC" -XX:OnOutOfMemoryError=/usr/share/emerald/WEB-INF/classes/scripts/oom.sh  --add-exports=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED'
CATALINA_HOME={{ TOMCAT_HOME }}
CATALINA_PID={{ TOMCAT_HOME }}/temp/tomcat.pid
CATALINA_OUT={{ CATALINA_OUT_DIRECTORY }}/catalina.out  
